<div class='container reviews' id='all-reviews-page'>
  <h1> View All Posted Reviews Here!</h1>
  {{#each reviews as |Review|}}
    <div class='card review-cards'>
      <div class='card-header'>
        <h2 class='title is-4'>
          {{game_title}}
        </h2>
        <div>
          Posted by
          {{user_id}}
          on
          {{format_date date_created}}
          user score: {{user_score}}
        </div>
      </div>
      <div class='card-content'>
        <p> Review: {{review}} </p>
      </div>
    </div>
  {{/each}}
</div>