<!-- Loop over each object in the review array -->
{{#each games as |game| }}

<div class="game-cards">
  <div class="card-image">
    
      <img class="has-ration" width="300" height="250" src="{{game.image}}" alt="Placeholder image">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{game.name}}</p>
        <p class="subtitle is-6">{{game.metacritic}}</p>
      </div>
    </div>
    <div class="content">
      {{!-- {{game.description}} --}}
      <a href="/review">Checkout some reviews!</a>
      <br>
      <p> Released: {{game.released}}
    </div>
  </div>
</div>


{{/each}}