<!-- Loop over each object in the review array -->
{{#each Games as |Games| }}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img class="has-ration" width="640" height="360" src="{{displayData.Games.game_image}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{Games.game_title}}</p>
        <p class="subtitle is-6">{{Games.metacritic}}</p>
      </div>
    </div>
    <div class="content">
     {{Games.game_description}}.
      <a href="/review">Checkout some reviews!</a>
      <br>
      <p> Released: {{games.release_date}}
    </div>
  </div>
</div>

{{/each}}