<!-- Loop over each object in the review array -->
{{#each games as |game| }}



<div class="game-cards">
  <div class="card-image">
    
      <img class="has-ration" width="200" height="150" src="{{game.image}}" alt="Placeholder image">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{game.name}}</p>
        <p class="subtitle is-6">{{game.metacritic}}</p>
      </div>
    </div>
    <div class="content">
     
    
      <p> Released: {{game.released}} </p>  

      <a href="#container_{{game.id}}">Click for description!</a>
        <br></br>
      <a href="/review">Checkout some reviews!</a>
      
<div class="modal-container" id="container_{{game.id}}">
    <div id="exampleModal" class="reveal-modal">
      <center><img class="has-ration" width="400" height="350" src="{{game.image}}" alt="Placeholder image"></center>
      <center>{{game.name}}</center>
      {{game.released}}
    {{{game.description}}}
    <a href="#close">Close</a>
    
    </div>  
</div>     
    </div>
  </div>
</div>




{{/each}}