<div class="text-center">
  <h2>{{Review.game_title}}</h2>
  <p>rated:{{Review.user_score}}/10</p>
  <p>Reviewed by {{Review.user_name}} on {{format_date Review.date_created}}</p>
  <p>{{Review.Review}}</p>
</div>
